.section-form {
    .picer-icons-block {
        position: relative;

        &::before {
            position: absolute;
            content: url('./src/img/data-picer.svg');
            top: 50%;
            left: 20px;
            transform: translateY(-50%);


        }

        &::after {
            position: absolute;

            content: url('./src/img/2.svg');
            right: 20px;
            top: 50%;
            transform: translateY(-50%);


        }
    }

    .width-block {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #C6CBDC;
        color: #000B1B;

        font-family: "Poppins";
        font-size: 18px;

        font-weight: 600;
        line-height: 130%;
        background: #FFF;
    }

    .steps {
        border-radius: 10px;
        border: 1px solid #C6CBDC;
        background: #E4EBF3;
        box-shadow: 4px 4px 12px 2px rgba(156, 170, 218, 0.30);
        @include adaptiveValue("padding-left", 185, 20);
        @include adaptiveValue("padding-right", 185, 20);
        @include adaptiveValue("padding-top", 20, 20);
        @include adaptiveValue("padding-bottom", 40, 20);

    }

    .step-one {

        .form-calculator__title {
            text-align: center;
            display: block;
            font-weight: 600;
            line-height: 110%;
            margin-bottom: 20px;
            @include adaptiveValue("font-size", 40, 36);
        }

        .form-calculator__sub-title {
            display: block;
            font-family: "Poppins";
            font-weight: 600;
            @include adaptiveValue("font-size", 24, 22);

        }

        .form-calculator__description {
            display: block;
            font-family: "Poppins";
            font-weight: 300;
            margin-bottom: 16px;
            @include adaptiveValue("font-size", 16, 14);
        }

        ul {
            text-align: center;
        }

        li {
            border-radius: 10px;
            border: 1px solid #C6CBDC;
            margin-bottom: 10px;
            background: #FFF;
            display: flex;
            padding: 18px 0px 19px 0px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            cursor: pointer;

            color: #41518B;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;

            &:hover {
                border: 1px solid #FDA41B;
                background: #FFEDD1;
            }

            .checked {
                border: 1px solid #FDA41B;
                background: #FFEDD1;
            }
        }
    }

    .section-form__request-block {
        padding-top: 20px;
        text-align: center;
        color: #000B1B;
        font-family: "Poppins";
        font-weight: 500;
        @include adaptiveValue("font-size", 22, 14);
    }

    .step-two__progres-block {
        display: flex;
        align-items: center;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .step-two__progres-percent {
        display: inline-flex;
        align-items: center;
        width: 80%;

        @media (360px <=width <=767px) {
            & {
                width: 100%;
            }
        }





        span {
            border-radius: 50px;
            background: var(--color-progress-bar);
            color: #FFF;
            padding: 7px 10px;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 600;

        }

        &::after {
            content: '';
            height: 4px;
            width: 80%;
            background-color: #49408C;
            border-radius: 4px;

        }

        &::before {
            content: '';
            height: 4px;
            width: 20%;
            background-color: #49408C;
            border-radius: 4px;
        }
    }

    .step-three__progres-percent {

        &::before {
            width: 70%;
        }
    }

    .step-fourth__progres-percent {
        span {

            background: #35B882;
        }

        &::before {
            width: 200%;
        }
    }


    .step-two__quotes {
        display: inline-flex;
        align-items: center;
        border-radius: 50px;
        background: #FFFAF2;
        margin-left: auto;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        padding-left: 10px;

        color: var(--color-progress-bar);

        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        @media (360px <=width <=767px) {
            & {
                display: none;
            }
        }

    }

    .step-two__title {
        display: block;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;

        @media (360px <=width <=767px) {
            & {
                letter-spacing: -1px;
            }
        }
    }

    .step-two__text {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 16px;
        display: block;

    }

    input {
        width: 50%;
        padding: 18px 0;
        background: #FFF;
        font-weight: 600;

        &::placeholder {
            color: #848EB4;
            font-family: "Poppins";
            font-weight: 400;
            line-height: 130%;
            @include adaptiveValue("font-size", 18, 16);
        }

        &:focus {
            outline: none;
        }
    }

    .label {
        font-family: "Poppins";
        font-weight: 500;
        line-height: 130%;
        @include adaptiveValue("font-size", 20, 16);
    }

    .label-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (360px <=width <=767px) {
            & {

                flex-direction: column;
                align-items: flex-start;



            }
        }
    }

    .step-two__input-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        width: 90%;

        padding: 1px 20px;
        border-radius: 10px;
        border: 1px solid #C6CBDC;
        background: #FFF;
        box-shadow: 4px 4px 12px 2px rgba(156, 170, 218, 0.30);

        @media (360px <=width <=767px) {
            & {
                width: 100%;
            }
        }


    }


    .step-two__btn {
        display: flex;
        flex-direction: row;
        padding: 15px 0px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 10px;
        background: #FDD18C;
        color: #FFF;
        cursor: pointer;

        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        gap: 10px;
        margin-bottom: 16px;
        margin-top: 20px;

        span {
            font-size: 18px;

        }
    }

    .step-two__description {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: "Poppins";
        font-weight: 300;
        border-top: 1px solid #C6CBDC;
        padding-top: 16px;
        @include adaptiveValue("font-size", 16, 10);

        svg {
            min-width: 50px;
        }
    }

    .state-city__from {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
        /* 20.8px */

    }

    .state-city__to {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;

    }

    .state-city {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .error {
        width: 100%;
        color: #EF4444;

        font-family: "Poppins";
        font-size: 14px;
        font-weight: 400;
        padding-left: 10%;
        margin-bottom: 10px;
    }

    .error-block {
        border: 1px solid #EF4444;
    }

    .valid-btn {
        cursor: pointer;
        background: #FDA41B;

        @media (360px <=width <=767px) {
            & {
                width: 100%;
            }
        }

    }

    .invalid-btn {



        background: #FCD589;
        cursor: pointer;
    }


    .step-fourth__quotes {
        color: #35B882;
    }

    .step-fourth__input {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            background: url('./src/img/message.svg');
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
        }


        input {
            width: 100%;
            border-radius: 10px;
            border: 1px solid #C6CBDC;
            background: #FFF;
            padding-left: 60px;
        }

    }

    .sub-info {
        color: #35B882;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 600;
        margin-bottom: -20px;
        position: relative;
        top: 12px;
    }

    .step-two__text {
        span {
            font-weight: 600;
        }
    }

    .mail-code {
        color: #000B1B;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
    }


}

.names-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    gap: 16px;

    @media (360px <=width <=767px) {
        & {
            flex-direction: column
        }
    }
}

.first-name-label {
    position: relative;
    width: 50%;

    @media (360px <=width <=767px) {
        & {
            width: 100%;
        }
    }

    &::before {
        position: absolute;
        content: '';
        background: url('./src/img/user.svg');
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;

    }

    .first-name {
        border-radius: 10px;
        border: 1px solid #C6CBDC;

        padding-left: 60px;

        background: #FFF;
        width: 100%;
        color: #000B1B;

        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;

        &::placeholder {
            color: #848EB4;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
        }
    }

}


.last-name-label {
    width: 50%;
    position: relative;

    @media (360px <=width <=767px) {
        & {
            width: 100%;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background: url('./src/img/user.svg');
        width: 20px;
        height: 20px;
        left: 20px;


    }

    .last-name {

        border-radius: 10px;
        border: 1px solid #C6CBDC;
        padding-left: 60px;
        background: #FFF;
        color: #000B1B;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
        width: 100%;

        &::placeholder {
            color: #848EB4;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
        }
    }
}



.phone-code-label {
    width: 100% !important;
    display: block;
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background: url('./src/img/5.svg');
        width: 20px;
        height: 20px;
        left: 20px;

    }

    .phone-code {
        border-radius: 10px;
        border: 1px solid #C6CBDC;
        width: 100%;
        padding-left: 60px;
        background: #FFF;
        color: #000B1B;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;

        &::placeholder {
            color: #848EB4;
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
        }
    }
}

.step-fifes {
    &::before {
        content: '';
        height: 4px;
        border-radius: 4px;

        background: #35B882;
        @include adaptiveValue("width", 620, 40);


    }
}

.step-two__title {
    span {
        color: #35B882;
    }
}

.step-sixth {
    text-align: center;

    h3 {
        color: #000B1B;

        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        margin-bottom: 20px;
    }

    span {
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 669px;
        margin-bottom: 20px;

    }

    div {
        width: 500px;
        margin: 0 auto;
    }
}

.popup {
    .section-form__container {
        padding: 0;
    }

    .steps {
        border: none;
        box-shadow: none;
    }

    img {
        margin: 0 auto;
        @include adaptiveValue("width", 125, 67);


    }

    .popup__text {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("width", 160, 100);
        @include adaptiveValue("height", 160, 100);
    }

    .popup__imgblock {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("padding-top", 40, 20);
    }
}

#step-three {
    #step-three-btn {}
}

.valid-btn {
    cursor: pointer;
    background: #FDA41B;
}
#step-fifth-btn.valid-btn{
    cursor: pointer;
    background: #FDA41B;
}
.invalid-btn {


    background: #FCD589;
}

.popup__content {
 
 

}


#step-fourth {
    .step-two__progres-percent {
        &::after {
            width: 28% !important;
        }
    }
}

.section-form {
    #step-fifth {
        .step-two__quotes {
            margin-left: 0;
        }
    }
}

.step-fifthh {
    display: block !important;
}



.section-form-block {
    margin-bottom: 89px;
    @include adaptiveValue("margin-bottom", 89, 60);
}

#step-fourth-input-to-error {
    padding-left: 0;
    padding-top: 10px;
}

#step-fifth-input-first-name-error {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#step-fifth-input-phone-error {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 5px;

}

#step-three-input-from-error {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}
#first-name.error-block{
    border: 1px solid #EF4444;
}
#last-name.error-block{
    border: 1px solid #EF4444;
}
#phone-code.error-block{
    border: 1px solid #EF4444;
}

#mail-code.error-block {
    border: 1px solid #EF4444;
}