<div class="rating-block">
    <span class="rating-block__number">{{data-mark-1:9.6}}</span>
    <span class="rating-block__value">
        <span class="rating-block__label">{{data-mark-2:very good}}</span>

        <span class="rating-block__stars">
            <span class="_icon-star">
                <span class="_icon-half-star"></span>
            </span>
            <span class="_icon-star">
                <span class="_icon-half-star"></span>
            </span>
            <span class="_icon-star">
                <span class="_icon-half-star"></span>
            </span>
            <span class="_icon-star">
                <span class="_icon-half-star"></span>
            </span>
            <span class="_icon-star">
                <span class="_icon-half-star"></span>
            </span>

        </span>
    </span>
</div>