<section class="faq-block">
    <div class="faq-block__container">
        <h2>Frequently Asked Questions (FAQ)</h2>

        <div data-spollers class="spollers ">
            <details class="spollers__item">
                <summary class="spollers__title">How Early Should I Book a Professional Mover?
                </summary>
                <div class="spollers__body">The golden rule of booking a professional move is to book ASAP. If you’re in
                    a bit of a pinch, most interstate moves can
                    be booked two or three months in advance. For international moves, you should book at least six
                    months in advance.
                </div>
            </details>

            <details class="spollers__item">
                <summary class="spollers__title">How Do I Choose the Right Moving Company?
                </summary>
                <div class="spollers__body">The golden rule of booking a professional move is to book ASAP. If you’re in
                    a bit of a pinch, most interstate moves can
                    be booked two or three months in advance. For international moves, you should book at least six
                    months in advance.
                </div>
            </details>

            <details class="spollers__item">
                <summary class="spollers__title">Where Can I Move to with a Professional Mover?
                </summary>
                <div class="spollers__body">The golden rule of booking a professional move is to book ASAP. If you’re in
                    a bit of a pinch, most interstate moves can
                    be booked two or three months in advance. For international moves, you should book at least six
                    months in advance.
                </div>
            </details>

            <details class="spollers__item">
                <summary class="spollers__title">Are Professional Moving Companies Insured in the Case of an Incident?
                </summary>
                <div class="spollers__body">The golden rule of booking a professional move is to book ASAP. If you’re in
                    a bit of a pinch, most interstate moves can
                    be booked two or three months in advance. For international moves, you should book at least six
                    months in advance.
                </div>
            </details>
        </div>
    </div>
</section>