<section class="hero-view">
    <h2 hidden>midland</h2>

    <img alt="img" src="./src/img/company-hero-desktop.jpg" srcset="
              ./src/img/company-hero-mobile.jpg 370w,
              ./src/img/company-hero-mobile.jpg 640w,
              ./src/img/company-hero-mobile.jpg 920w,
              ./src/img/company-hero-desktop.jpg 1220w,
              ./src/img/company-hero-desktop.jpg 1920w" sizes=" (max-width: 370px) 370w,
                (max-width: 640px) 640w,
                (max-width: 920px) 920w,
                (max-width: 1220px) 1220w,
                1920w" class="hero-view-block__img">


    <div class="hero-view__container">


        <article>
            <h3 hidden>midland</h3>
            <div class="hero-view__img-block">
                <img src="./src/img/midland.png " alt="img">
            </div>

            <a class="get-component-btn">
                <span class="get-component-btn__text">get a quote</span>
                <span class="_icon-big-arrow-right"></span>
            </a>

        </article>

    </div>

</section>