<section class="distance-description-block">
    <img class="distance-description-block__img" alt="img" src="./src/img/hero-bg-main.jpg" srcset="
      ./src/img/hero-bg-mobile.jpg 370w,
      ./src/img/hero-bg-mobile.jpg 640w,
      ./src/img/hero-bg-mobile.jpg 920w,
      ./src/img/hero-bg-main.jpg 1220w,
      ./src/img/hero-bg-main.jpg 1920w" sizes=" (max-width: 370px) 370w,
        (max-width: 640px) 640w,
        (max-width: 920px) 920w,
        (max-width: 1220px) 1220w,
        1920w">
    <div class="distance-description-block__container">
        <div class="distance-description-block__title-block">
            <h1>Top Rated Long Distance Moving Companies 2023</h1>
            <p>Our top-rated long distance moving companies shine across all areas, from pricing and service options to
                specialty
                services and overall customer satisfaction.</p>
        </div>
        <p class="hero-user">
            <span class="hero-user__top">
                <img class="hero-user__img" src="./src/img/hero-user.png " alt="img">
                <span class="hero-user__info">
                    <span class="hero-user__info-text">Written by</span>
                    <span class="hero-user__info-social-block">
                        <span class="hero-user__info-title">Alex Sherr</span>
                        <a class="hero-user__info-icon _icon-planet" target="_blank"></a>
                        <a class="hero-user__info-icon _icon-linkedin"
                            href="https://www.linkedin.com/company/my-long-distance-move-movers/about/"
                            target="_blank"></a>
                        <a href="https://www.youtube.com/channel/UC79ku3NfiL0oogO-OfLxsdA"
                            class="hero-user__info-icon _icon-yutube" target="_blank"></a>
                        <a href="https://twitter.com/mylongdistancem" class="hero-user__info-icon _icon-tviter"
                            target="_blank"></a>
                    </span>
                </span>
            </span>
            <span class="hero-user__info-description">Alex, with 20+ years in the moving industry, founded My Long
                Distance
                Movers to help choose moving services and offers
                advice through his writings.
            </span>
        </p>
    </div>
</section>