<header class="header ">
    <div class=" __container">
        <a href="/" class="header__logo">
            <img src="./src/img/logo-icon.svg" alt="1" class="header__logo-img">
            <img src="./src/img/logo-description.svg" alt="2" class="header__logo-imgdescription">
        </a>
        <div class="header__menu menu">
            <button type="button" class="menu__icon icon-menu"><span></span></button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="./" class="menu__link">Home</a></li>
                    <li class="menu__item"><a href="./indexCompany.html" class="menu__link">About us</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Blog</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>