<section class="tips-section">
    <div class="tips-section__container">
        <h2 class="tips-section__title">
            Moving tips
        </h2>
        <p class="tips-section__description">
            Moving houses is a beautiful experience. You get to pick up the parts of your life that you like and put
            them in
            a new
            chapter of the same. However, it’s a humongous task all the same. There are a lot of bits and pieces that
            can go
            wrong.
        </p>
        <div class="tips-section__list">
            <article class="tips-section__item">
                <h3>Make A Moving Folder</h3>
                <p>A moving folder is something that you could carry around like a manager on-site. You can make a
                    folder
                    with all the
                    lists you make, along with receipts, bills, and paperwork that you’d require when moving in.</p>
            </article>
            <article class="tips-section__item">
                <h3>Set Your Budget</h3>
                <p>The best way to make sure you do not get to your new house with pennies in your pocket is to set a
                    budget. Research all
                    the expenditure you’ll need to make and set a budget accordingly. This way, you won’t come up
                    short-handed with the
                    money and can rest assured that you’re not going overboard with the spending.</p>
            </article>
            <article class="tips-section__item">
                <h3>Book Early</h3>
                <p>Things like installing electronics, plumbing, TV, phone and WiFi require you to make a booking with
                    the
                    concerned
                    company beforehand. Make sure you book everything as soon as you decide on a place to move to so
                    that
                    you can rest
                    assured that the service will be available on the day of the move.</p>
            </article>
            <article class="tips-section__item">
                <h3>Schedule Utilities</h3>
                <p>Utilities like electricity and water, amongst other things, will require you to contact the
                    department
                    that handles
                    these things in your neighborhood. The thing is, if you fail to schedule these utilities to be
                    accessible on the day you
                    move, you might have to move into a dark, waterless house.</p>
            </article>
            <article class="tips-section__item">
                <h3>Don’t Mix It Up</h3>
                <p>This one is rather simple. When you’re packing, pack boxes according to rooms. That way you can
                    ensure
                    that you don’t
                    have to dig through a pile of them to find something for one room and something else for another.
                </p>
            </article>
            <article class="tips-section__item">
                <h3>Prep A Go Bag</h3>
                <p>A go-bag will also allow you to carry the smaller delicate items that you might not be comfortable
                    storing in boxes that
                    the movers will carry. However, you need to make sure that the go-bag does not become too heavy.
                    Otherwise, it would
                    beat its own purpose of making things easy and you might have to hand it to the movers as well.</p>
            </article>
        </div>
    </div>

</section>