// bace style spollers
// stippet (HTML): spoller

.spollers {
    display: grid;
    gap: 33px;

    @media (360px <=width <=767px) {
        & {
            gap: 25px;



        }
    }
}

.spollers__item {
    font-size: toRem(20);
}

.spollers__title {
    @include adaptiveValue("font-size", 26, 20);
    width: 100%;
    cursor: default;
    text-align: left;
    border-bottom: 1px solid #E6F2FE;
    padding: toRem(10) toRem(15);
    padding-right: 41px;
    border-radius: toRem(5);
    position: relative;
    list-style: none;
    padding-left: 0;
    font-family: "Manuale";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    &::marker,
    &::-webkit-details-marker {
        display: none;
    }

    ._spoller-init & {
        cursor: pointer;


        &::after {
            content: url("./src/img/line.png");
            position: absolute;
            right: 5px;
            top: 21px;
            border-radius: 10px;
            display: grid;
            place-items: center;
            transform: translateY(-50%);
            padding-bottom: 10px;
            position: absolute;
            transition: transform 0.5s ease 0s;
        }

        &::before {
            content: url("./src/img/line.png");
            position: absolute;
            right: 0;
            top: 1px;
            background-color: #E6F1FE;
            height: 40px;
            width: 40px;
            border-radius: 10px;
            display: grid;
            place-items: center;
            transform: translateY(-50%);
            padding-bottom: 10px;
            position: absolute;
            transition: transform 0.5s ease 0s;
        }

        &::before {
            transform: translate(0%, 0%) rotate(0deg);
        }

        &._spoller-active {
            &::before {
                transform: translateX(0%) rotate(-90deg);
            }

            &::after {
                transform: translateX(10%) translateY(-54%) rotate(0deg);

                @media (767px <=width <=1440px) {
                    & {
                        transform: translateX(5%) translateY(-54%) rotate(0deg);
                    }


                }

                @media (360px <=width <=767px) {
                    & {
                        transform: translateX(0%) translateY(-54%) rotate(0deg);
                    }


                }
            }
        }

    }
}


.spollers__body {

    padding-left: 0;
    padding-right: 65px;
    padding-top: 9px;
    padding-bottom: 0px;
    margin-bottom: 23px;



    border-radius: toRem(5);
    @include adaptiveValue("font-size", 18, 16);

    @media (360px <=width <=767px) {
        & {
            line-height: 132%;
            padding-right: 46px;
            margin-bottom: 0px;



        }
    }

}