.call-component-btn {
    border-radius: 10px;
    background: var(--color-btn-now);
    color: #FFFFFD;
    display: flex;
    max-width: 281px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: background 0.4s ease;
    &:hover{
    background: #FF6400;
        transition: background 0.4s ease;
        
    }

    ._icon-phone {
        font-size: 20px;
    }

    .call-link {
        padding: 23px 0;
        text-transform: uppercase;

        font-style: normal;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);

        @media (360px <=width <=767px) {
            & {
                padding: 20px 0;

            }
        }
    }

}