.get-component-btn {
    background: var(--color-btn-quote);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 43px;
    max-width: 281px;
    min-width:281px;
    max-height: 70px;
    gap: 16px;
    color: #FFFFFE;
     transition: background 0.4s ease;
    &:hover{
        background: #00AB70;
        transition: background 0.4s ease;

        
    }
    

    @media ( 1000px <= width <=  1101px ) {
            & {
                     min-width:auto;

            }
    }
    .get-component-btn__text {
        text-transform: uppercase;
        color: #FFFFFE;

        font-weight: 600;
        @include adaptiveValue("font-size",24 ,20 );
    }

    ._icon-big-arrow-right {
        font-size: 20px;
    }
}
