//<INPUT>
// snipet (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// input:focus {
//     border: 1px solid #00AF12 !important;
//     .input-ok &{
//         border: 1px solid #00AF12 !important;
//         border-radius: 10px;
//     }

// }
.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 20px;
    border: 1px solid #eee;
    // &:active{
    //     .input-ok &{
    //         border: 1px solid #00AF12 !important;
    //         border-radius: 10px;
    //     }
    // }
    // &:focus{
    //     border: 1px solid #00AF12 !important;

    //     .input-ok &{
    //         border: 1px solid #00AF12 !important;
    //         border-radius: 10px;
    //     }
    // }

    &._form-focus {}

    &._form-error {}
}

.input[placeholder]:not([data-placeholder-nohiden]) {
    &::placeholder {
        transition: opacity 0.3s;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}